# Variables in Python

In [33]:
var1 = "Mohak Chugh"
var1

'Mohak Chugh'

In [34]:
var1 = 5.5
var1

5.5

In [35]:
var1 = 4 + 7j
type(var1)

complex

# Logical Operators

In [36]:
a = 10
b = 25

a < b

True

In [37]:
a != b

True

In [38]:
a == b

False

In [39]:
a & b

8

In [40]:
a = True
b = False
a | b

True

# Strings and Slicing in Python

In [41]:
name = "Mohak Chugh"
name[-5]

'C'

In [42]:
name[-5:]

'Chugh'

In [43]:
name[0:5]

'Mohak'

In [44]:
len(name)

11

In [45]:
name.upper()

'MOHAK CHUGH'

In [46]:
name.lower()

'mohak chugh'

In [47]:
name.title()

'Mohak Chugh'

# Data Structures in Python

## Tuple

In [48]:
tup1 = (1, 3, 4, "Mohak")
tup1

(1, 3, 4, 'Mohak')

In [49]:
tup1[3]

'Mohak'

In [50]:
tup1[3] = "Chugh"

TypeError: 'tuple' object does not support item assignment

## List

In [9]:
list1 = [1, 2, 3, 4, "mohak", 3+4j, 5.3]
list1

[1, 2, 3, 4, 'mohak', (3+4j), 5.3]

In [10]:
list1.append("hi")
list1

[1, 2, 3, 4, 'mohak', (3+4j), 5.3, 'hi']

In [11]:
list1[4] = "Shakal"
list1

[1, 2, 3, 4, 'Shakal', (3+4j), 5.3, 'hi']

In [12]:
list1.append(["name1", "name2", "name3"])
list1

[1, 2, 3, 4, 'Shakal', (3+4j), 5.3, 'hi', ['name1', 'name2', 'name3']]

In [13]:
list1.pop()
list1

[1, 2, 3, 4, 'Shakal', (3+4j), 5.3, 'hi']

## Dictionary

In [17]:
dict1 = {"mohak" : 1, "mohit": 2, "mansi" : 3}
dict1

{'mohak': 1, 'mohit': 2, 'mansi': 3}

In [18]:
dict1.keys()

dict_keys(['mohak', 'mohit', 'mansi'])

In [20]:
dict1.values()

dict_values([1, 2, 3])

In [22]:
dict1["mohit"] = 32
dict1["mohit"]

32

## Set - Which cant contain any duplicate

In [27]:
s1 = {1, 2, 3, 4}
s1

{1, 2, 3, 4}

In [28]:
s1.add("Mohak")
s1

{1, 2, 3, 4, 'Mohak'}

In [32]:
s1.remove("chutiya");
s1

{2, 3, 4, 'Mohak', 'hai', 'mohit'}

In [31]:
s1.update(["mohit", "hai"])
s1

{2, 3, 4, 'Mohak', 'chutiya', 'hai', 'mohit'}

# Conditionals

In [51]:
a = 10
b = 20

if (a > b):
    print("a is greater")
elif (a < b):
    print("a is smaller")
else:
    print("a is equal")

a is smaller

In [52]:
if 1 in tup1:
    print("Condition is True")

Condition is True

In [53]:
if dict1["mohak"]:
    print("Condition is true")

Condition is true

In [54]:
if 2 in list1:
    print("Condition is true")

Condition is true

In [55]:
if list1[2] == 2:
    print("Condition is True")
else:
    print("Condition is false")

Condition is false

# Loops and Iterators

In [57]:
i = 1
while (i < 10):
    print(i)
    i = i + 1;

1
2
3
4
5
6
7
8
9

In [58]:
for element in list1:
    print(element)

1
2
3
4
Shakal
(3+4j)
5.3
hi

In [59]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Functions and Classes

In [60]:
def function1():
    print("Mohak is the best")

function1()

Mohak is the best

In [61]:
class test:
        
    def func1(self):
        print("Func1 is called")

In [63]:
t1 = test()

In [65]:
t1.func1()

Func1 is called

In [67]:
# Inheritance
class test2(test):
    def func2(self):
        print("func2 is called")

t2 = test2()
t2.func2()

func2 is called

In [68]:
t2.func1()

Func1 is called

# Numpy - Understanding Basics